
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminUserTableLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Transaction List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Transaction List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>User ID</th>
                                        <th>Address</th>
                                        <th>Total Price</th>
                                        <th>Transaction Type</th>
                                        <th>Created at</th>
                                        <th>Transaction Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>Mugla</td>
                                        <td>140$</td>
                                        <td>type i nie yaptium bilmiom</td>
                                        <td>11.01.2024</td>
                                        <td>
                                            @* asp tagi ile id cekme gelicek *@
                                            <a asp-area="Admin" asp-controller="TransactionDetails" asp-action="Index" class="btn btn-info">Details</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>User ID</th>
                                        <th>Address</th>
                                        <th>Total Price</th>
                                        <th>Transaction Type</th>
                                        <th>Created at</th>
                                        <th>Transaction Details</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

