
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("~/Views/AdminUserLayoutPartial/_HeadPartial.cshtml")
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        @await Html.PartialAsync("~/Views/AdminUserLayoutPartial/_NavbarPartial.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("~/Views/AdminUserLayoutPartial/_SidebarPartial.cshtml")

        <!-- Content Wrapper. Contains page content -->
        @RenderBody();
        <!-- /.content-wrapper -->
@*         <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar --> *@
        <!-- Main Footer -->
        @await Html.PartialAsync("~/Views/AdminUserLayoutPartial/_FooterPartial.cshtml")
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    @await Html.PartialAsync("~/Views/AdminUserLayoutPartial/_ScriptPartial.cshtml")
</body>
</html>

