@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <link rel="stylesheet" href="~/hemserim/nereye.css" /> <!-- CSS dosyasını bağlama -->
</head>
<body>
    <div>
        <img src="~/hemserim/hop.jpg" alt="Access Denied" class="access-denied-image" />
    </div>
</body>
</html>
