
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <title>Pharma &mdash; Colorlib Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="~/pharma-master/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/pharma-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/pharma-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/pharma-master/css/jquery-ui.css">
    <link rel="stylesheet" href="~/pharma-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/pharma-master/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/pharma-master/css/aos.css">

    <link rel="stylesheet" href="~/pharma-master/css/style.css">



</head>
